#!/usr/bin/make -f

export DH_VERBOSE = 1
export DEB_CXXFLAGS_MAINT_APPEND = -Ofast -funroll-loops -mfpmath=sse -march=nehalem -fwhole-program -flto 

override_dh_auto_configure:
	dh_auto_configure -- --disable-shared AR=gcc-ar NM=gcc-nm RANLIB=gcc-ranlib

%:
	dh $@  --parallel
